azuredatafactory/pipeline/Manually upload parquets to db.json
{
	"name": "Manually upload parquets to db",
	"properties": {
		"activities": [
			{
				"name": "For each excel",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "List Excel files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('List Excel files').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "upload to coral DB",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "excel2parquet",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"additionalColumns": [
										{
											"name": "File_Name",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										},
										{
											"name": "DateAdded",
											"value": {
												"value": "@replace(item().name, '.xlsx', '')",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@concat(item().name, '.parquet')",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "ParquetReadSettings"
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": true
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "gen",
												"type": "Int64",
												"physicalType": "INT64"
											},
											"sink": {
												"name": "gen",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "Id",
												"type": "Int64",
												"physicalType": "INT64"
											},
											"sink": {
												"name": "Id",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "Name",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Name",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ParentId",
												"type": "Int64",
												"physicalType": "INT64"
											},
											"sink": {
												"name": "ParentId",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "Rank",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Rank",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Pending",
												"type": "Double",
												"physicalType": "DOUBLE"
											},
											"sink": {
												"name": "Pending",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "Personal",
												"type": "Double",
												"physicalType": "DOUBLE"
											},
											"sink": {
												"name": "Personal",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "Overall",
												"type": "Double",
												"physicalType": "DOUBLE"
											},
											"sink": {
												"name": "Overall",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "GroupVolume",
												"type": "Double",
												"physicalType": "DOUBLE"
											},
											"sink": {
												"name": "GroupVolume",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "File_Name",
												"type": "String"
											},
											"sink": {
												"name": "File_Name",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "DateAdded",
												"type": "String"
											},
											"sink": {
												"name": "DateAdded",
												"type": "DateTime",
												"physicalType": "date"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "InputParquetReports",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "coral_dailystats",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "excel2parquet",
							"type": "AzureFunctionActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "processExcel",
								"body": {
									"value": "@concat('{\"file_name\": \"', item().name, '\"}')",
									"type": "Expression"
								},
								"method": "POST"
							},
							"linkedServiceName": {
								"referenceName": "coral_function",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "List Excel files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "InputExcels",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-05-23T16:42:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}